* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: .5rem 3rem;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100vw;
}

.logo {
    padding: 1rem;
}

.logo > a {
    color: #fff;
    text-decoration: none;
}

.primary-text {
    color: rgb(255, 136, 0);
}

.main-nav__menu {
    list-style: none;
    display: flex;
    text-align: center;
}

.main-nav__menu__menu-item {
    padding: 1rem;
}

.main-nav__menu__menu-item > a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.main-nav__menu__menu-item > a:hover {
    color: rgb(255, 136, 0);
}

.page-filler {
    max-width: 1100px;
    margin: 80px auto 0;
}

.page-filler > *{
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .main-nav__menu {
        flex-direction: column;
    }
}
